# Glassnode - onchain data

### Import

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path 
import datatable as dt

### Get data

In [5]:
filepath = Path('../../data/csv/glassnode_onchain_data.csv')

In [8]:
df = dt.fread(filepath).to_pandas() 
df = df.set_index('t')
df.index.names = ['date']
df.head(3)

,addresses/count,addresses/sending_count,addresses/receiving_count,addresses/active_count,addresses/new_non_zero_count,transactions/count,transactions/rate,transactions/transfers_volume_sum,transactions/transfers_volume_mean,transactions/transfers_volume_median,...,fees/volume_mean,fees/volume_median,blockchain/utxo_created_count,blockchain/utxo_spent_count,blockchain/utxo_created_value_sum,blockchain/utxo_spent_value_sum,blockchain/utxo_created_value_mean,blockchain/utxo_spent_value_mean,blockchain/utxo_created_value_median,blockchain/utxo_spent_value_median
date,,,,,,,,,,,,,,,,,,,,,
2009-01-03,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,50.0,0.0,50.0,0.0,50.0,0.0
2009-01-04,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2009-01-05,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Computes features

In [9]:
df_features = df

### Save features

In [10]:
filepath = Path('../csv/features_glassnode.csv')

In [11]:
df_features.to_csv(filepath)